:root {
    --primary-color: white;
    /* White */
    --secondary-color: black;
    /* Black */
    --accent1-color: #7A4E00;
    /* Dark Golden-brown */
    --accent2-color: #0f4c5c;
    /* Deep Teal */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: var(--accent2-color);
    padding: 10px;

}

nav,
p,
section,
article {
    margin: 4px;
    padding: 4px;
}

footer p,
section p {
    color: var(--secondary-color);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 35px;
    width: 100%;
    padding: 1px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    /* white text - make sure there is enough contrast with the background-color */
}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    background-color: var(--accent2-color);
    border-radius: 2px;
    opacity: 0.8;
}

.hero article p {
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
    border-radius: 8px;
    padding: 8px;
}